.characrter{
    text-align: center;
    background-color: #EEEEEE;
    border-radius: 20px;
}

.container{
    display: flex   ;
}

.container-characters{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.character__image{
    border-radius: 50%;
    width:75%;
}

.container-page{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap:40px
}

.container-page__prev-icon{
    width:15px;
    transform:rotate(180deg)
}

.container-page__next-icon{
    width:15px;
}

.container-page__button{
    background: none;
    border: none;
}

.container-page__selected-page{
    width:50px;
    text-align: center;
    border-color: black;
    border-radius: 20%;
}
